@model List<labTask2.Models.Entity.Product>

@{
    ViewBag.Title = "Index";
}

<h4>Product List</h4>
<a href="/product/create" class="btn btn-primary">Add Product</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>

   @foreach (var p in Model)
   {
<tr>
    <td>@p.Id</td>
    <td>@p.Name</td>
    <td>@p.Price</td>
    <td>@p.Quantity</td>
    <td>@p.Description</td>
    <td>
        <a href="/Product/Edit?Id=@p.Id" class="btn btn-success">Edit</a>
        <a href="@Url.Action("Delete", new { p.Id})" class="btn btn-danger">Delete</a>
        <a href="/Product/Cart/@p.Id" class="btn btn-primary">Add to Cart</a>
    </td>
   
</tr>
   }
</table>

